@{
    ViewData["Title"] = "Home Page - Empréstimos de Jogos";
}

<div class="text-center">
    <h1 class="display-4">Empréstimos online</h1>
    <p>Ligue o video-game, chame os amigos. Altas risadas e competições serão criadas!</p>
    <div>
        <img src="/img/img-game.png" alt="Imagem controle de vídeo-game" title="Empréstimo de Jogos Tech"/>
    </div>
</div>
